# Compiled Object files
*.slo
*.lo
*.o
*.cof
*.obj
*.eep.hex

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX
*.DS_Store
*.AppleDouble
*.LSOverride
*.idea/

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop

# Some project files
*~
*.vcxproj
*.sln
*.xcodeproj
text.txt
tn45def.inc
Attiny

# Makefiles
*CMakeCache.txt
CMakeFiles/
Makefile
*.cmake